body {
    padding: 0px;
    margin: 0px;
    width: 1280px;
    height: 1280px;
    margin: 0 auto;
    }

.headline {
    width: 292px;
    height: 74px;
    text-align: left;
    margin-bottom: 45px;   
}

.name-1 {
    color: #000000;
    font-size: 70px;
    font-weight: 400;
    text-decoration: none;
    font-family: 'Myriad Pro', sans-serif;
    text-align: left;
}

.name-2 {
	color: #4bcaff;
}

.menu1 {
 background-color:  gray;
 width: 1280px;
 height: 69px;
 margin: 0 auto;
}

.line-menu {
   text-align: center;
   margin-bottom: 10px;	
}

.menu-text {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    font-family: OpenSans, sans-serif;
    font-size: 25px;
    font-weight: 100;
    padding: 20px 10px;
}

.menu-text:hover{
  background-color: #222f3a;
 }   

.menu2 {
   background-color: rgb(255, 255, 255);
   float:left;
   width: 340px;
   height: 400px; 
   border: 1px solid black;
   margin-top: 30px;
}
.menu-left {
    text-align: center;
    margin-top: 20px;
    padding-left: 0px;
}

.menu-option {
    display: block;
    color:  black;
    font-size: 25px;
    font-weight: 400;
    height: 66px;
}

.menu-option:hover {
    background-color: #222f3a;
}

.foto-img {
    background-image: url(../img/RamdaJS.jpg); 
    width: 880px;
    height: 520px;
    border: 1px solid black;
    margin-top: 30px;
    float: right;
}

.ttt3 {
    display: block;
    width: 883px;
    height: 327px;
    float:right;
    margin-top: 51px;
    margin-left: 30px;
}

.text-1 {
    color:  #2c2b2b;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.footer {
    clear: both;
    width: 1280px;
    height: 69px;
    padding-right: 20px;
    background-color: grey;
    margin-right: 20px;
}
.footer-list {
    width: 1280px;
   text-align: left;
   margin-bottom: 10px;
   margin-top: 10px; 
   margin-right: 200px;  
}
.footer-text {
    display: inline-block;
    color:  #0c1927;
    font-size: 28px;
    font-weight: 400;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;   
}

.footer-text:hover {
    color: #4bcaff;
}

.footer-22 {
    font-family: 'Myriad Pro';
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 300;
    font-family: sans-serif; 
    display: inline-block;
}



